:root {
    --colorPpal: #624FBB;
    --colorAlt: #6149DF;
    --colorSec: #9B8AAB;
    --colorTer: #CCB6E8;
    --gap:25px;
}

body {
    padding:0;
    margin:0;
    background: linear-gradient(#EBD7FF 0%, #F7ECFE 37%);
    font-family: 'Figtree', sans-serif;
    height: 100vh;
}

body::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#190D22 0%, #101010 37%);
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
}

body.dark::before{
    opacity: 1;
}   

.dark #modo>i {
    color: var(--colorTer);
}

.dark .listaGastos {
    background-color:#0a0a0a;
    color:#fff;
}

a {
    text-decoration: none;
    color:#000;
}

input {
    outline-width:0;
    outline-color:transparent;
}

label {
    cursor: text;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

::selection {
    background-color: var(--colorPpal);
    color:#fff;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--gap);
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--gap);
    box-sizing: border-box;
}

.logo {
    width: 130px;
    height: 30px;
    background-image: url(img/Viyuyapp.png);
    background-size: 100%;
}

.logo > span {
    display: none;
}

#modo {
    cursor:pointer;
}

#modo > i {
    color:#624FBB;
    font-size: 1.5em;
}

.montosContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.montosContainer p {
    margin:0;
}

.monto {
    color: var(--colorSec);
    font-weight: 600;
    font-size: 2em;
}

.signoPesos {
    color: var(--colorTer);
    padding-right: 3px;
}

.disponible .monto {
    color: var(--colorPpal);
    font-weight: 700;
    font-size: 2.5em;
}

.montosDesc {
    font-weight: 300;
    color: var(--colorSec);
    text-align: center;
    font-size: 1.5em;

}

.disponible .montosDesc {
    font-weight: 400;
    font-size: 1.8em;
}

.containerIngresoLista {
    display: flex;
    width: 100%;
    margin-top:70px;
    gap: 50px;
    justify-content: space-evenly;
}
.ingresoDinero {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.ingresoDinero input {
    height: 45px;
    width: 100%;
    border:none;
    border-bottom: var(--colorAlt) solid 1px;
    background-color:transparent;
    box-sizing: border-box;
    font-size: 1.5em;
    padding-top: 17px;
    color: var(--colorPpal);
    font-weight: 700;
}

.ingresoDinero div:focus-within > label {
    font-size:.9em;
    bottom: 35px;
}

.ingresoDinero>div {
    position: relative;
}

.ingresoDinero input:focus {
    border-bottom: var(--colorAlt) solid 2px;
}

#dineroDisponible, #gasto, #monto {
}

.listaGastos {
    background-color: #fff;
    border-radius: 20px;
    padding: var(--gap);
    box-sizing: border-box;
    width: 50%;
}

.listaGastos > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;  
}

.itemGastos {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5%;
    font-size: 1.4em;
    align-items: center;
}

.gasto::before {
    content: "$";
    color: var(--colorTer);
    padding-right: 3px;
    font-size: ;
}

.borraGasto {
    background-color: transparent;
    border:none;
    font-size: 1.3em;
    color: var(--colorPpal);
    transition:.3s;
    cursor: pointer;
}

.borraGasto:hover {
    transform: scale(1.25);

}

.itemGastos>p:first-child{
    margin-right: auto;
}

.itemGastos>p {
    margin:0;
}


.ingresoDinero label {
    color: var(--colorAlt);
    font-size: 1.4em;
    position: absolute;
    bottom: 2px;
    transition: .3s;
}
.gastoYMonto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--gap);
}

.gastoCont {
    width: 65%;
}

.montoCont {
    width: 30%;
}


@media (max-width:768px) {

    body{
        height: auto;
    }

    .logo {
        width: 30px;
        height: 35px;
        background-position: bottom;
        background-size: 400%;
    }

    .containerIngresoLista{
        flex-direction: column;
        width: 90%;
        margin: 70px auto 25px auto;
    }

    .ingresoDinero{
        width: 100%;
    }

    .ingresoDinero input {
        margin: 0;

    }
    
    .listaGastos{
        width: 100%;
    }
}

@media (max-width:568px) {
    .montosContainer {
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-evenly;
    }

    .montos.disponible {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .ingresos {
        order: 2;
    }

    .montos.gastos {
        order: 3;
    }

    .ingresoDinero>div {
        position: relative;
        font-size: 14px;
    }

    .listaGastos {
        font-size: 12px;
    }
}